{
    "token": "",
    "prefix": ".",
    "db": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "charset": "utf8mb4_general_ci"
    },
    "trello": {
        "key": "",
        "token": ""
    },
    "guild": "",
    "admin": "",
    "statsEnabled": true,
    "botLanguage": "fr,en",
    "roles": {
        "admin": "",
        "mod": "",
        "officialMember": "",
        "events": "",
        "games": "",
        "rfrench": "",
        "committee": "",
        "tutor": "",
        "unknownLevel": "",
        "bornFrancophone": "",
        "native": "",
        "advanced": "",
        "intermediate": "",
        "beginner": "",
        "logs": "",
        "raid": "",
        "patreonBooster": "",
        "nitroBooster": "",
        "fakeEveryone": "",
        "soft": "",
        "seekingCorrespondence": "",
        "corresponding": "",
        "offers": "",
        "eventSubscribed": "",
        "tokensMastery": "",
        "animator": "",
        "linguist": "",
        "he": "",
        "she": "",
        "they": "",
        "trombinoscope": "",
        "voiceTextVisibility": "",
        "tokenMaster": "826126912346652682"
    },
    "channels": {
        "welcome": "",
        "publicModLog": "",
        "anonymousMessages": "",
        "modLog": "",
        "modDMs": "",
        "modAnnouncements": "",
        "automod": "",
        "serverLog": "",
        "memberFlowLog": "",
        "bot": "",
        "watchlist": "",
        "beginner": "",
        "learntLanguage": "",
        "learntLanguageClone": "",
        "otherLanguage": "",
        "otherLanguages": "",
        "classroom1": "",
        "classroom2": "",
        "classroom3": "",
        "explicitClassroom": "",
        "roles": "",
        "starboard": "",
        "announcements": "",
        "eventAnnouncements": "",
        "meta": "",
        "soft": "",
        "correspondenceInformation": "",
        "correspondenceLearners": "",
        "correspondenceNatives": "",
        "memberModificationLog": "",
        "smallVoiceChatRequest": "",
        "lessonOfTheDay": "",
        "selfie": "",
        "eventCategory": "",
        "eventChat": "",
        "trombinoscope": ""
    },
    "channelCategories": {
        "mod": [],
        "smallVoice": "",
        "smallVoiceText": "",
        "vocal": []
    },
    "voiceTextChannelMappings": {},
    "warnCommand": "!warn %id %reason",
    "unbanCommand": "!unban %id %reason",
    "levelCommand": "",
    "learntLanguage": "learntLanguage.",
    "learntLanguagePrefix": "",
    "otherLanguagePrefix": "",
    "disabledCommands": [],
    "hiddenCommands": [],
    "notCountryOrLanguageRoles": []
}
