{
    "token": "",
    "prefix": ".",
    "db": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "charset": "utf8mb4_general_ci"
    },
    "socialMedia": {
        "twitter": {
            "baseURL": "https://api.twitter.com/1.1/",
            "apiKey": "",
            "apiSecretKey": "",
            "accessToken": "",
            "accessTokenSecret": ""
        }
    },
    "guild": "",
    "admin": "",
    "statsEnabled": true,
    "botLanguage": "fr,en",
    "roles": {
        "mod": "",
        "officialMember": "",
        "dictation": "",
        "miniClass": "",
        "outLoudReading": "",
        "games": "",
        "committee": "",
        "tutor": "",
        "unknownLevel": "",
        "bornFrancophone": "",
        "native": "",
        "advanced": "",
        "intermediate": "",
        "beginner": "",
        "logs": "",
        "raid": "",
        "patreonBooster": "",
        "everyone": "",
        "soft": ""
    },
    "channels": {
        "welcome": "",
        "publicModLog": "",
        "anonymousMessages": "",
        "modLog": "",
        "modDMs": "",
        "automod": "",
        "serverLog": "",
        "memberFlowLog": "",
        "bot": "",
        "watchlist": "",
        "beginner": "",
        "learntLanguage": "",
        "learntLanguageClone": null,
        "otherLanguage": "",
        "mainClassroom": "",
        "roles": "",
        "starboard": "",
        "announcements": "",
        "meta": "",
        "soft": "",
        "correspondenceLearners": "",
        "correspondenceNatives": ""
    },
    "modCategories": [
        ""
    ],
    "warnCommand": "!warn %id %reason",
    "unbanCommand": "!unban %id %reason",
    "levelCommand": "",
    "learntLanguage": "learntLanguage.",
    "learntLanguagePrefix": "",
    "disabledCommands": [],
    "hiddenCommands": [],
    "notCountryOrLanguageRoles": []
}
