{
    "token": "",
    "prefix": "!",
    "db": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
		"charset": "utf8mb4_general_ci"
    },
    "socialMedia": {
        "twitter": {
            "baseURL": "https://api.twitter.com/1.1/",
            "apiKey": "",
            "apiSecretKey": "",
            "accessToken": "",
            "accessTokenSecret": ""
        }
    },
    "guild": "",
    "admin": "",
    "testAccount": "",
    "botLanguage": "fr,en",
    "roles": {
        "mod": "",
        "officialMember": "",
        "dictation": "",
        "miniClass": "",
        "outLoudReading": "",
        "games": "",
        "committee": "",
        "tutor": "",
        "unknownLevel": "",
        "native": "",
        "advanced": "",
        "intermediate": "",
        "beginner": "",
        "logs": ""
    },
    "channels": {
        "welcome": "",
        "publicModLog": "",
        "anonymousMessages": "",
        "modLog": "",
        "automod": "",
        "serverLog": "",
        "memberFlowLog": "",
        "bot": "",
        "beginner": "",
        "learntLanguage": "",
        "roles": "",
        "starboard": "",
        "announcements": ""
    },
    "levelCommand": "",
    "learntLanguage": "learntLanguage.",
    "learntLanguagePrefix": "",
    "disabledCommands": [],
    "notCountryOrLanguageRoles": []
}
